.container{
    background-color: rgb(110, 174, 230);
    margin-bottom: 5px;
    color: white;
}

.container-fluid{
    background-color: blueviolet;
    margin-bottom: 5px;
    color: white;
}

.container-sm{
    background-color: aqua;
    margin-bottom: 5px;
    
}

.container-md{
    background-color: rgb(84, 153, 153);
    margin-bottom: 5px;
    color: white;
}

.container-lg{
    background-color: rgb(11, 95, 95);
    margin-bottom: 5px;
    color: white;
}

.container-xl{
    background-color: rgb(29, 41, 41);
    margin-bottom: 5px;
    color: white;
}

.container-xxl{
    background-color: rgb(98, 153, 84);
    margin-bottom: 5px;
    color: white;
}